.row {
  margin: 20px;
  color: white;
}
.imgContaner {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 15px;
}
.imgContaner::-webkit-scrollbar {
  /* remove the scrollbar from all the web browsers*/
  display: none;
}
.row_poster {
  object-fit: contain;
  width: 100%;
  max-height: 120px;
  transition: transform 450ms; /*if the scale changed return`s it back in 450ms*/
  margin-right: 15px;
}
.row_poster:hover {
  transform: scale(1.09); /* Change the scale when hover*/
}
.row_largposter {
  max-height: 250px;
}
.row_largposter:hover {
  transform: scale(1.1);
}
